# Read Readme before doing anything


#________COMPULSORY____________

TG_BOT_TOKEN= "2079712703:AAH_2paJdLt7fhO9VI63HZ7xhw3OW30yv2c"
APP_ID = 2665851
API_HASH = "56fd81cedc486f1b09d96bd09486d5c1"
OWNER_ID = 826875841

# Add different ID separated by a SPACE (Like :: AUTH_CHANNEL = -10012503747 -10012586941 539295917)
AUTH_CHANNEL = 


#__________NOT ________COMPULSORY____________ ::

# For RCLONE ::
# Name of the folder....not ID
DESTINATION_FOLDER = "TorrentLeech-Gdrive"
INDEX_LINK = ""

# OTHERS ::
EDIT_SLEEP_TIME_OUT = 15
MAX_TG_SPLIT_FILE_SIZE = 1072864000

#_____There are other vars too_____Read Readme to Know better____
#_____And fill them as new line if needed :)
